--upgrade pip

# Core app dependencies
streamlit==1.33.0
numpy==1.24.4
PyPDF2==3.0.1
faiss-cpu==1.7.4
sentence-transformers
python-dotenv
langchain==0.1.14
google-generativeai
summa

# spaCy and its model
spacy==3.7.3
thinc==8.1.10
