# Core app dependencies
streamlit==1.33.0
numpy==1.24.4
PyPDF2==3.0.1
faiss-cpu
sentence-transformers
python-dotenv
langchain==0.1.14
generativeai
google-generativeai
summa

# spaCy and model
spacy==3.7.3
thinc==8.1.10
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
